<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/public/assets/about.css" />
  </head>
  <body>

   <!-- This is  start of the navbar -->
   <div class="topnav">
    <a id="title" href="/">VIT Pro Bud</a>
    <a class="alig" href="/projects">Explore</a>
    <a class="alig" href="/about">About</a>
    <a class="alig" href="/contact">Contact</a>
    <a class="alig" href="/gallery">Gallery</a>
    <%  if(!user){%>
    <a class="alig" href="/register">Register</a>
    <a class="alig" href="/login">Login</a>
    <%  }else{ %>
        <a class="alig" href="/logout">Logout</a>
 
    <a href="/userprofile"><img src="/<%= user.img.path %>" alt=""></a>
    <%  } %>
</div>
  <!-- navbar end -->

  <!-- about content -->
    <div class="container">
      <div class="row">
        <div class="image">
          <img src="/public/images/about3.jpg" alt="" />
        </div>
        <div class="content">
          Programme is a sequence of instructions written in a proper language
          through which the computer can understand and solve the problem given
          to it. It is the method by which the whole computing process is
          directed and controlled.<br />Anybody in the world who knows the basic
          logic can learn to code.
        </div>
      </div>

      <div class="row">
        <div class="content">
          Posting projects give us sense of motivation and empower us to make us
          even more better every single day. Contributing to open source
          projects is a great way to give back to the community.
        </div>
        <div class="image" style="margin-left: 30px">
          <img src="/public/images/about1.jpg" alt="" usemap="#tech" />
          <map name="tech">
            <area
              alt=""
              title=""
              href="https://www.amazon.in/Drumstone-Anti-Radiation-Adjustable-Compatible-Smartphones/dp/B08WLTTWSX/ref=sr_1_16?crid=HV3HX97SBPRS&dchild=1&keywords=vr+box&qid=1616002214&sprefix=vr%2Caps%2C309&sr=8-16"
              coords="62,39,267,130"
              shape="rect"
              target="_blank"
            />
          </map>
        </div>
      </div>

      <div class="row">
        <div class="image">
          <img src="/public/images/about2.jpg" alt="" usemap="#code" />
          <map name="code">
            <area
              alt=""
              title=""
              href="https://www.amazon.in/s?k=laptop+for+coding+and+programming&crid=1RKS400T84DDT&sprefix=laptop+for+co%2Caps%2C300&ref=nb_sb_ss_ts-doa-p_1_13"
              coords="90,61,319,300"
              shape="rect"
              target="_blank"
            />
          </map>
        </div>
        <div class="content">
          Keep on going, and the chances are that you will stumble on something,
          perhaps when you are least expecting it. I never heard of anyone ever
          stumbling on something sitting down.
        </div>
      </div>

      <div class="row">
        <div class="content">
          We providing a open platform to share our skills and learn from each
          other to build better skills reshaping the entire future towards the
          beautiful and extraordinary world.
        </div>
        <div class="image" style="margin-left: 30px">
          <img src="/public/images/about4.jpg" alt="" />
        </div>
      </div>
    </div>
<!-- about content end -->


    <!-- footer start -->
    <div class="footer">
      <p>Copyright &#169; 2021 Sayan< Jana/p>
    </div>
   <!-- footer end -->

  </body>
</html>
