<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <link rel="stylesheet" href="/public/assets/gallery.css" />
  </head>
  <body>

     <!-- This is  start of the navbar -->
     <div class="topnav">
      <a id="title" href="/">VIT Pro Bud</a>
      <a class="alig" href="/projects">Explore</a>
      <a class="alig" href="/about">About</a>
      <a class="alig" href="/contact">Contact</a>
      <a class="alig" href="/gallery">Gallery</a>
      <%  if(!user){%>
      <a class="alig" href="/register">Register</a>
      <a class="alig" href="/login">Login</a>
      <%  }else{ %>
          <a class="alig" href="/logout">Logout</a>
   
      <a href="/userprofile"><img src="/<%= user.img.path %>" alt=""></a>
      <%  } %>
  </div>
    <!-- navbar end -->

   <!-- gallery starting -->
    <div class="gallery">
      <a target="_blank" href="#">
        <img src="/public/images/img1.jpg" alt="Cinque Terre" />
      </a>
      <div class="desc">Google Hackathon</div>
    </div>

    <div class="gallery">
      <a target="_blank" href="#">
        <img src="/public/images/img2.png" alt="Forest" />
      </a>
      <div class="desc">Awesome Projects to build</div>
    </div>

    <div class="gallery">
      <a target="_blank" href="#">
        <img src="/public/images/img4.png" alt="Mountains" />
      </a>
      <div class="desc">Explore new technologies</div>
    </div>
    <div class="gallery">
      <a target="_blank" href="#">
        <img src="/public/images/img5.jpg" alt="Mountains" />
      </a>
      <div class="desc">Coding Environment in Hackathons</div>
    </div>

 

    <div class="gallery">
      <iframe
        width="360"
        height="315"
        src="https://www.youtube.com/embed/jnHYXPRBB9k;?rel=0&amp;autoplay=1&mute=1"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; muted "
        allowfullscreen 
 
      ></iframe>
    </div>
    <div class="gallery">
      <iframe
        width="360"
        height="315"
        src="https://www.youtube.com/embed/YtxLexm-9pI?rel=0&amp;autoplay=1&mute=1"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; muted "
        allowfullscreen 
 
      ></iframe>
    </div>
    <div class="gallery">
      <iframe
        width="360"
        height="315"
        src="https://www.youtube.com/embed/qRKzeas369s?rel=0&amp;autoplay=1&mute=1"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; muted "
        allowfullscreen 
 
      ></iframe>
    </div>
    <div class="gallery">
      <iframe
        width="360"
        height="315"
        src="https://www.youtube.com/embed/XyIvSIY0MTM?rel=0&amp;autoplay=1&mute=1"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; muted "
        allowfullscreen 
 
      ></iframe>
    </div>
    <div style="margin: auto;text-align: center;">
    <iframe src="https://allwebco-templates.com/support/" frameborder="0" width="1060" height="400px"></iframe>
    <!-- gallery ended -->

          <!-- footer start -->
          <div class="footer">
            <p>Copyright &#169; 2021 Kartik Khanna</p>
        </div>
        <!-- footer ended -->
  </body>
</div>
</html>
